<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="bg-overlay">
            <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                <div class="w-100">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <div>
                                <div class="text-center">
                                    <a routerLink="" class="logo"><img src="assets/images/logo-dark.png" height="20"
                                            alt="logo"></a>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <div class="card border border-primary">
                                            <div class="card-header bg-transparent border-primary">
                                                <h5 class="my-0 text-primary text-center"><i
                                                        class="mdi mdi-account-cowboy-hat mr-3"></i>OTP Verification
                                                </h5>
                                                <p class="text-center mt-3"> Enter the verification code we just sent
                                                    you on your email address</p>
                                            </div>
                                            <div class="card-body">
                                                <form class="form-horizontal" [formGroup]="otpForm"
                                                    (ngSubmit)="onSubmit()" autocomplete="off">
                                                    <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{
                                                        error
                                                        }}</ngb-alert>

                                                    <div class="form-group auth-form-group-custom mb-4">
                                                        <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                        <label for="otp">OTP</label>
                                                        <input type="number" minlength="6" maxlength="6"
                                                            formControlName="otp" class="form-control" id="otp"
                                                            placeholder="OTP"
                                                            [ngClass]="submitted && otpForm.controls['otp'].hasError('required')?'is-invalid':''"
                                                            required>
                                                        <div class="invalid-feedback">OTP is required</div>
                                                    </div>

                                                    <!-- <div class="row">
                                                        <div class="col-sm-2">
                                                            <div class="form-group auth-form-group-custom mb-4">
                                                                <input class="form-control form_filed" #field1 type="text"
                                                                    id="field1" formControlName="field1" maxLength="1"
                                                                    size="1" min="0" max="9" pattern="[0-9]{1}"
                                                                    (keydown)=" onKeydown($event)"
                                                                    (keyup)="onKeyUpEvent($event)" required
                                                                    [ngClass]="submitted && otpForm.controls['field1'].hasError('required')?'is-invalid':''">
                                                                <div class="invalid-feedback">*</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group auth-form-group-custom mb-4">
                                                                <input class="form-control form_filed" #field2 type="text"
                                                                    id="field2" formControlName="field2" maxLength="1"
                                                                    size="1" min="0" max="9" pattern="[0-9]{1}"
                                                                    (keydown)=" onKeydown($event)"
                                                                    (keyup)="onKeyUpEvent($event)" required
                                                                    [ngClass]="submitted && otpForm.controls['field2'].hasError('required')?'is-invalid':''">
                                                                <div class="invalid-feedback">*</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group auth-form-group-custom mb-4">
                                                                <input class="form-control form_filed" #field3 type="text"
                                                                    id="field3" formControlName="field3" maxLength="1"
                                                                    size="1" min="0" max="9" pattern="[0-9]{1}"
                                                                    (keydown)=" onKeydown($event)"
                                                                    (keyup)="onKeyUpEvent($event)" required
                                                                    [ngClass]="submitted && otpForm.controls['field3'].hasError('required')?'is-invalid':''">
                                                                <div class="invalid-feedback">*</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group auth-form-group-custom mb-4">
                                                                <input class="form-control form_filed" #field4 type="text"
                                                                    id="field4" formControlName="field4" maxLength="1"
                                                                    size="1" min="0" max="9" pattern="[0-9]{1}"
                                                                    (keydown)=" onKeydown($event)"
                                                                    (keyup)="onKeyUpEvent($event)" required
                                                                    [ngClass]="submitted && otpForm.controls['field4'].hasError('required')?'is-invalid':''">
                                                                <div class="invalid-feedback">*</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group auth-form-group-custom mb-4">
                                                                <input class="form-control form_filed" #field5 type="text"
                                                                    id="field5" formControlName="field5" maxLength="1"
                                                                    size="1" min="0" max="9" pattern="[0-9]{1}"
                                                                    (keydown)=" onKeydown($event)"
                                                                    (keyup)="onKeyUpEvent($event)" required
                                                                    [ngClass]="submitted && otpForm.controls['field5'].hasError('required')?'is-invalid':''">
                                                                <div class="invalid-feedback">*</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group auth-form-group-custom mb-4">
                                                                <input class="form-control form_filed" #field6 type="text"
                                                                    id="field6" formControlName="field6" maxLength="1"
                                                                    size="1" min="0" max="9" pattern="[0-9]{1}"
                                                                    (keydown)=" onKeydown($event)"
                                                                    (keyup)="onKeyUpEvent($event)" required
                                                                    [ngClass]="submitted && otpForm.controls['field6'].hasError('required')?'is-invalid':''">
                                                                <div class="invalid-feedback">*</div>
                                                            </div>
                                                        </div>
                                                    </div> -->

                                                    <div class="mt-4 text-center">
                                                        <button
                                                            class="btn btn-primary btn-block w-md waves-effect waves-light"
                                                            type="submit">
                                                            <i class="ri-lock-2-line align-middle mr-2"></i>
                                                            <ng-container *ngIf="isBtnLoading">
                                                                <span class="indicator-progress"
                                                                    [style.display]="'block'">
                                                                    Please wait...
                                                                    <span
                                                                        class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                                </span>
                                                            </ng-container>
                                                            <ng-container *ngIf="!isBtnLoading">
                                                                <span class="indicator-label">Submit</span>
                                                            </ng-container>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="text-center">
                                    <p>© {{ year }} VS Pay.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>