<div class="page-title-box d-flex align-items-center justify-content-between mr-4 ml-4">
    <h4 class="mb-0">{{pageTitle}}</h4>
    <div class="page-title-right">
        <ol class="breadcrumb m-0" [hidden]="isChildRouteActive">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Master</a>
            </li>
            <li class="breadcrumb-item"><a routerLink="/admin/email-setting">Email Setting</a>
            </li>
            <li class="breadcrumb-item active">{{breadcrumbTitle}}
            </li>
        </ol>
        <ol class="breadcrumb m-0" [hidden]="!isChildRouteActive">
            <li class="breadcrumb-item">
                <button (click)="onBack()" type="button" class="btn btn-light btn-sm">
                    <i class="  ri-arrow-left-line align-middle mr-2"></i>Back
                </button>
            </li>
        </ol>
    </div>
</div>
<div class="card" [hidden]="isChildRouteActive">
    <div class="card-body">
        <form [formGroup]="form" autocomplete="off">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-label-group">
                        <input type="text" id="searchText" class="form-control" placeholder="Search Text"
                            formControlName="searchText" autocomplete="off" />
                        <label for="searchText">Search Text</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <select name="invType" class="form-control" formControlName="resultType"
                        [ngClass]="submitted && form.controls['resultType'].hasError('required')?'is-invalid':''">
                        <option value="">Select output option</option>
                        <option *ngFor="let item of appCommon.ReportOutputOptionType" [value]="item.id">
                            {{ item.text }}
                        </option>

                    </select>
                </div>
                <div class="col-sm-4">
                    <div class="form-group mb-0 mt-1">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-success btn-sm mr-2" (click)="submitSearch()">
                                <ng-container *ngIf="isBtnLoading">
                                    <span class="indicator-progress" [style.display]="'block'">
                                        Search
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="!isBtnLoading">
                                    <span class="indicator-label"><i
                                            class="ri-search-line align-middle mr-2"></i>Search</span>
                                </ng-container>
                            </button>

                            <button type="button" class="btn btn-light btn-sm mr-2" (click)="clear()">
                                <i class=" ri-eraser-line align-middle mr-2"></i>
                                Clear
                            </button>

                            <button type="button" class="btn btn-primary btn-sm" (click)="onCreate()"><i
                                    class=" ri-add-line align-middle mr-2"></i>Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div [ngStyle]="gridHeightWidth" #printable>
            <ag-grid-angular style="width: 100%; height:100%;" class="ag-theme-alpine" [rowData]="lst"
                [rowHeight]="appCommon.GridRowHeight" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)"
                [frameworkComponents]="frameworkComponents" [animateRows]="true">
            </ag-grid-angular>
        </div>
    </div>
</div>
<router-outlet></router-outlet>