<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="bg-overlay">
            <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                <div class="w-100">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <div>
                                <div class="text-center">
                                    <a routerLink="" class="logo"><img src="assets/images/logo-dark.png" height="20"
                                            alt="logo"></a>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <div class="card border border-primary">
                                            <div class="card-header bg-transparent border-primary">
                                                <h5 class="my-0 text-primary text-center"><i
                                                        class="mdi mdi-account-cowboy-hat mr-3"></i>Forgot Password
                                                </h5>
                                                <p class="text-center mt-3">Enter the Email associated with your
                                                    account.</p>
                                            </div>
                                            <div class="card-body">
                                                <form class="form-horizontal" [formGroup]="forgetPasswordForm"
                                                    (ngSubmit)="onSubmit()" autocomplete="off">
                                                    <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{
                                                        error
                                                        }}</ngb-alert>

                                                    <div class="form-group auth-form-group-custom mb-4">
                                                        <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                        <label for="email">Email</label>
                                                        <input type="email" formControlName="email" class="form-control"
                                                            id="email" placeholder="Email"
                                                            [ngClass]="submitted && forgetPasswordForm.controls['email'].hasError('required')?'is-invalid':''"
                                                            required>
                                                        <div class="invalid-feedback">Email is required</div>
                                                    </div>

                                                    <div class="mt-4 text-center">
                                                        <button
                                                            class="btn btn-primary btn-block w-md waves-effect waves-light"
                                                            type="submit">
                                                            <i class="ri-lock-2-line align-middle mr-2"></i>
                                                            <ng-container *ngIf="isBtnLoading">
                                                                <span class="indicator-progress"
                                                                    [style.display]="'block'">
                                                                    Please wait...
                                                                    <span
                                                                        class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                                </span>
                                                            </ng-container>
                                                            <ng-container *ngIf="!isBtnLoading">
                                                                <span class="indicator-label">Submit</span>
                                                            </ng-container>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="text-center">
                                    <p>© {{ year }} VS Pay.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>