<div class="row">
    <div class="col-md-3">
        <div class="card bg-info text-light text-center" role="button" style="cursor: pointer;" (click)="onTotalUsersClick()">
            <div class="card-body">
                <h5 class="text-white">
                    <p class="mb-1">Total Application User</p>
                    <small>{{totalUsers || 0}}</small>
                </h5>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-success text-white text-center" role="button" style="cursor: pointer;" (click)="onWalletCardsClick()">
            <div class="card-body">
                <h5 class="text-white">
                    <p class="mb-1">Wallet Balance</p>
                    <small>{{walletBalance | number:'1.2-2'}}</small>
                </h5>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-primary text-white text-center" role="button" style="cursor: pointer;" (click)="onWalletCardsClick()">
            <div class="card-body">
                <h5 class="text-white">
                    <p class="mb-1">Unlocked Balance</p>
                    <small>{{unlockedBalance | number:'1.2-2'}}</small>
                </h5>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-warning text-white text-center" role="button" style="cursor: pointer;" (click)="onWalletCardsClick()">
            <div class="card-body">
                <h5 class="text-white">
                    <p class="mb-1">Locked Balance</p>
                    <small>{{lockedBalance | number:'1.2-2'}}</small>
                </h5>
            </div>
        </div>
    </div>
</div>